include header


div(class="wrap")
    div(class="content")
        header(class='size-header deep-orange darken-4')
            include site_header
        include nav
        div(class="container")
            div(class="row")
                each val2, index2 in cat
                    div(class="col s12")
                        h2
                            a(href="/cat?id="+val2['id']) #{val2['category']}
                    each val, index in goods
                        if val2['id'] == val['category']
                            include card

    include footer