nav
    div(
        class="nav-content pink darken-4"
    )
        ul(class="right")
            li(class="popup-btn") КОРЗИНА &nbsp;
        div(class="popup-block")
            button(class="popup-btn waves-effect waves-light btn") X
            div(class="popup-table cart-nav")
                h2 КОРЗИНА ПУСТАЯ
            a(href="/order" class="waves-effect waves-light btn") ЗАКАЗАТЬ
        div(id="category-list")

